* {
    font-family: 'Roboto', sans-serif;
}

/* header */
header {
    position: relative;
}

nav {
    height: 50px;
    background-color: #212121;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.main_menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.main_menu .menu_link{
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}

.main_menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
    margin-top: 50px;
}

.subheader .logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .logo_text {
    margin-top: 6px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}

.subheader .subheader_call {
    margin-top: 19px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}

.subheader .subheader_call .subheader_phone {
    display: block;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

/* promo */
.promo {
    min-height: 800px;
    text-align: center;
    color: #ffffff;
    background: url(../img/promo_bg.jpg) center center/cover no-repeat;
    padding: 150px 0 135px 0;
}

.promo .promo_title {
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 60px;
    margin: 0;
}

.promo .promo_subtitle {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    margin: 0;
    margin-top: 20px;
}

.promo .promo_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 26px;
}

.promo .promo_btn {
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 120px;
}

/* reason */

.reason {
    padding: 71px 0 65px 0;
}

.reason .subtitle_box {
    margin: 0 auto;
    padding: 8px 0 6px 0;
    width: 112px;
    height: 24px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}

.reason .reason_title {
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-top: 30px;
}

.reason .reason_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.reason .reason_item .reason_round {
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 26px;
}

.reason .reason_text {
    width: 343px;
}

.reason .reason_text .reason_content {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}

.reason .reason_text .reason_subtitle {
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}